<div class="container">
  <h2>Menu</h2>
  <mat-divider></mat-divider>

  <div class="content">
    <div class="row">
      <!-- Basic Menu -->
      <div class="col-2">
        <button mat-button [matMenuTriggerFor]="menu">Besic Menu</button>
        <mat-menu #menu="matMenu">
          <button mat-menu-item>Item 1</button>
          <button mat-menu-item>Item 2</button>
        </mat-menu>
      </div>
      <!-- Menu With Icon -->
      <div class="col-2">
        <button
          mat-button
          #secondMenuBtn="matMenuTrigger"
          [matMenuTriggerFor]="menuWithIcon"
        >
          Menu With Icon
        </button>
        <mat-menu #menuWithIcon="matMenu">
          <button mat-menu-item>
            <mat-icon>dialpad</mat-icon> <span>Redial</span>
          </button>
          <button mat-menu-item>
            <mat-icon>voicemail</mat-icon> <span>Check voice mail</span>
          </button>
          <button mat-menu-item>
            <mat-icon>notifications_off</mat-icon>
            <span>Disable alerts</span>
          </button>
        </mat-menu>
      </div>
      <!-- Nested menu -->
      <div class="col-2">
        <button mat-button [matMenuTriggerFor]="nestedMenu">Nested Menu</button>
        <!-- First Dropdwon -->
        <mat-menu #nestedMenu="matMenu">
          <button mat-menu-item [matMenuTriggerFor]="vertebrates">
            Vertebrates
          </button>
          <button mat-menu-item [matMenuTriggerFor]="invertebrates">
            Invertebrates
          </button>
        </mat-menu>

        <!-- Second Dropdwon -->
        <mat-menu #invertebrates="matMenu">
          <button mat-menu-item>Insects</button>
          <button mat-menu-item>Molluscs</button>
          <button mat-menu-item>Crustaceans</button>
          <button mat-menu-item>Corals</button>
          <button mat-menu-item>Arachnids</button>
          <button mat-menu-item>Velvet worms</button>
          <button mat-menu-item>Horseshoe crabs</button>
        </mat-menu>

        <!-- Second with nested Dropdwon  -->
        <mat-menu #vertebrates="matMenu">
          <button mat-menu-item [matMenuTriggerFor]="fish">Fishes</button>
          <button mat-menu-item [matMenuTriggerFor]="amphibians">
            Amphibians
          </button>
          <button mat-menu-item [matMenuTriggerFor]="reptiles">Reptiles</button>
          <button mat-menu-item>Birds</button>
          <button mat-menu-item>Mammals</button>
        </mat-menu>

        <!-- Thierd Dropdwon -->
        <mat-menu #fish="matMenu">
          <button mat-menu-item>Baikal oilfish</button>
          <button mat-menu-item>Bala shark</button>
          <button mat-menu-item>Ballan wrasse</button>
          <button mat-menu-item>Bamboo shark</button>
          <button mat-menu-item>Banded killifish</button>
        </mat-menu>
        <!-- Thierd Dropdwon -->
        <mat-menu #amphibians="matMenu">
          <button mat-menu-item>Sonoran desert toad</button>
          <button mat-menu-item>Western toad</button>
          <button mat-menu-item>Arroyo toad</button>
          <button mat-menu-item>Yosemite toad</button>
        </mat-menu>
        <!-- Thierd Dropdwon -->
        <mat-menu #reptiles="matMenu">
          <button mat-menu-item>Banded Day Gecko</button>
          <button mat-menu-item>Banded Gila Monster</button>
          <button mat-menu-item>Black Tree Monitor</button>
          <button mat-menu-item>Blue Spiny Lizard</button>
          <button mat-menu-item disabled>Velociraptor</button>
        </mat-menu>
      </div>
    </div>
  </div>

  <!-- Position Manus -->

  <h2 style="margin-top: 120px">Position</h2>
  <mat-divider> </mat-divider>
  <div class="content">
    <div class="row">
      <!-- Above Menu -->
      <div class="col-2">
        <button mat-button [matMenuTriggerFor]="aboveMenu">Above</button>
        <mat-menu #aboveMenu="matMenu" yPosition="above">
          <button mat-menu-item>Item 1</button>
          <button mat-menu-item>Item 2</button>
        </mat-menu>
      </div>
      <!-- Below Menu -->
      <div class="col-2">
        <button mat-button [matMenuTriggerFor]="BelowMenu">Above</button>
        <mat-menu #BelowMenu="matMenu" yPosition="below">
          <button mat-menu-item>Item 1</button>
          <button mat-menu-item>Item 2</button>
        </mat-menu>
      </div>

      <!-- Before Menu -->
      <div class="col-2">
        <button mat-button [matMenuTriggerFor]="BeforeManu">Before</button>
        <mat-menu #BeforeManu="matMenu" xPosition="before">
          <button mat-menu-item>Item 1</button>
          <button mat-menu-item>Item 2</button>
        </mat-menu>
      </div>

      <!-- After Menu -->
      <div class="col-2">
        <button mat-button [matMenuTriggerFor]="AfterMenu">After</button>
        <mat-menu #AfterMenu="matMenu" xPosition="after">
          <button mat-menu-item>Item 1</button>
          <button mat-menu-item>Item 2</button>
        </mat-menu>
      </div>
    </div>
  </div>

  <h2 style="margin-top: 120px">Passing data</h2>
  <mat-divider> </mat-divider>
  <div class="content">
    <div class="row">
      <!-- passing Data -->
      <div class="col-2">
        <button
          mat-button
          [matMenuTriggerFor]="passingDatamenu"
          [matMenuTriggerData]="{ name: 'Hiten' }"
        >
          Hiten Menu
        </button>

        <mat-menu #passingDatamenu="matMenu">
          <ng-template matMenuContent let-name="name">
            <button mat-menu-item>Item 1</button>
            <button mat-menu-item>Item 2</button>
            <button mat-menu-item>Name : {{ name }}</button>
          </ng-template>
        </mat-menu>
      </div>

      <div class="col-2">
        <button
          mat-button
          [matMenuTriggerFor]="passingDatamenu"
          [matMenuTriggerData]="{ name: 'Birjesh' }"
        >
          Birjesh Menu
        </button>
      </div>
      <div class="col-2">
        <button
          mat-button
          [matMenuTriggerFor]="passingDatamenu"
          [matMenuTriggerData]="{ name: 'Kashyap' }"
        >
          Kashyap Menu
        </button>
      </div>
    </div>
  </div>
</div>
