<div class="container">
  <h1>Dynamic Color</h1>
  <mat-divider></mat-divider>

  <div class="wrapper mt-3">
    <div class="primary">This is my Primary text</div>
    <div class="accent">This is my Accent text</div>
    <div class="warn">This is my Warn text</div>

    <div class="box bg text-light">This is dummy text</div>
  </div>

  <div class="content">
    <div class="row">
      <div class="col-2">
        <mat-card routerLink="/button" class="bg-app outline-primary">
          <mat-icon>smart_button</mat-icon>
          <p>Buttons</p>
        </mat-card>
      </div>
      <div class="col-2">
        <mat-card routerLink="/button-toggle" class="bg-hover outline-accent">
          <mat-icon>toggle_on</mat-icon>
          <p>Buttons Toggle</p>
        </mat-card>
      </div>
      <div class="col-2">
        <mat-card routerLink="/dynamic-color" class="bg-card outline dashed">
          <mat-icon>palette</mat-icon>
          <p>Dynamic Color</p>
        </mat-card>
      </div>
      <div class="col-2">
        <mat-card class="bg-status outline-warn">
          <mat-icon>smart_button</mat-icon>
          <p>Buttons</p>
        </mat-card>
      </div>
      <div class="col-2">
        <mat-card class="bg-primary">
          <mat-icon>smart_button</mat-icon>
          <p>Buttons</p>
        </mat-card>
      </div>
      <div class="col-2">
        <mat-card class="bg-accent">
          <mat-icon>smart_button</mat-icon>
          <p>Buttons</p>
        </mat-card>
      </div>
      <div class="col-2">
        <mat-card class="bg-warn">
          <mat-icon>smart_button</mat-icon>
          <p>Buttons</p>
        </mat-card>
      </div>
    </div>
  </div>
</div>
