<div class="container">
  <h2>Components</h2>
  <mat-divider></mat-divider>
  <div class="content">
    <div class="row">
      <div class="col-2">
        <mat-card class="bg-hover" routerLink="/button">
          <mat-icon>smart_button</mat-icon>
          <p>Buttons</p>
        </mat-card>
      </div>
      <div class="col-2">
        <mat-card class="bg-hover" routerLink="/button-toggle">
          <mat-icon>toggle_on</mat-icon>
          <p>Buttons Toggle</p>
        </mat-card>
      </div>
      <div class="col-2">
        <mat-card class="bg-hover" routerLink="/dynamic-color">
          <mat-icon>palette</mat-icon>
          <p>Dynamic Color</p>
        </mat-card>
      </div>
      <div class="col-2">
        <mat-card routerLink="/elevation" class="bg-hover">
          <mat-icon
            ><span class="material-symbols-outlined"> layers </span></mat-icon
          >
          <p>Elevation</p>
        </mat-card>
      </div>
      <div class="col-2">
        <mat-card routerLink="/ripple" class="bg-hover">
          <mat-icon>opacity</mat-icon>
          <p>Ripple</p>
        </mat-card>
      </div>
      <div class="col-2">
        <mat-card routerLink="/menu" class="bg-hover">
          <mat-icon>menu</mat-icon>
          <p>menu</p>
        </mat-card>
      </div>
      <div class="col-2">
        <mat-card routerLink="/badge" class="bg-hover">
          <mat-icon>fiber_manual_record</mat-icon>
          <p>Badge</p>
        </mat-card>
      </div>
      <div class="col-2">
        <mat-card routerLink="/dialog" class="bg-hover">
          <mat-icon>view_in_ar</mat-icon>
          <p>Dialog</p>
        </mat-card>
      </div>
      <div class="col-2">
        <mat-card class="bg-hover">
          <mat-icon>smart_button</mat-icon>
          <p>Buttons</p>
        </mat-card>
      </div>
    </div>
  </div>
</div>
