mat-card {
  padding: 40px 50px;
  display: block;
  justify-content: center;
  align-items: center;
  min-height: 120px;
  text-align: center;
  flex-direction: column;
  mat-icon {
    font-size: 23px;
    width: 23px;
    height: 23px;
    margin-bottom: 10px;
    opacity: 0.8;
  }
}
