<div class="container">
  <h1>Button</h1>
  <mat-divider></mat-divider>

  <div class="btn-wrapper mt-3">
    <!-- Basic Button -->
    <mat-card class="btn-card">
      <h2>Basic Buttons</h2>
      <div class="btn-row">
        <button mat-button>Basic</button>
        <button mat-button color="primary">Primary</button>
        <button mat-button color="accent">Accent</button>
        <button mat-button color="warn">Warn</button>
        <button mat-button disabled>Disabled</button>
        <a mat-button href="https://www.google.com/" target="_blank">Link</a>
      </div>
    </mat-card>
    <!-- Raised Button -->
    <mat-card class="btn-card">
      <h2>Raised Buttons</h2>
      <div class="btn-row">
        <button mat-raised-button>Basic</button>
        <button mat-raised-button color="primary">Primary</button>
        <button mat-raised-button color="accent">Accent</button>
        <button mat-raised-button color="warn">Warn</button>
        <button mat-raised-button disabled>Disabled</button>
        <a mat-raised-button href="https://www.google.com/" target="_blank"
          >Link</a
        >
      </div>
    </mat-card>
    <!-- Stroked Button -->
    <mat-card class="btn-card">
      <h2>Stroked Buttons</h2>
      <div class="btn-row">
        <button mat-stroked-button>Basic</button>
        <button mat-stroked-button color="primary">Primary</button>
        <button mat-stroked-button color="accent">Accent</button>
        <button mat-stroked-button color="warn">Warn</button>
        <button mat-stroked-button disabled>Disabled</button>
        <a mat-stroked-button href="https://www.google.com/" target="_blank"
          >Link</a
        >
      </div>
    </mat-card>
    <!-- Flat Button -->
    <mat-card class="btn-card">
      <h2>Flat Buttons</h2>
      <div class="btn-row">
        <button mat-flat-button>Basic</button>
        <button mat-flat-button color="primary">Primary</button>
        <button mat-flat-button color="accent">Accent</button>
        <button mat-flat-button color="warn">Warn</button>
        <button mat-flat-button disabled>Disabled</button>
        <a mat-flat-button href="https://www.google.com/" target="_blank"
          >Link</a
        >
      </div>
    </mat-card>
    <!-- ICON Button -->
    <mat-card class="btn-card">
      <h2>Icon Buttons</h2>
      <div class="btn-row">
        <button mat-icon-button>
          <mat-icon>more_vert</mat-icon>
        </button>
        <button mat-icon-button color="primary">
          <mat-icon>home</mat-icon>
        </button>
        <button mat-icon-button color="accent">
          <mat-icon>menu</mat-icon>
        </button>
        <button mat-icon-button color="warn">
          <mat-icon>favorite</mat-icon>
        </button>
        <button mat-icon-button disabled>
          <mat-icon>open_in_new</mat-icon>
        </button>
        <button mat-icon-button disabled>
          <mat-icon
            ><mat-spinner diameter="20" color="primary"></mat-spinner
          ></mat-icon>
        </button>
        <button mat-icon-button disabled>
          <mat-icon
            ><mat-spinner diameter="20" color="warn"></mat-spinner
          ></mat-icon>
        </button>
      </div>
    </mat-card>

    <!-- FAB Button -->
    <mat-card class="btn-card">
      <h2>Flat Buttons</h2>
      <div class="btn-row">
        <button mat-fab color="primary"><mat-icon>delete</mat-icon></button>
        <button mat-fab color="accent"><mat-icon>bookmark</mat-icon></button>
        <button mat-fab color="warn"><mat-icon>home</mat-icon></button>
        <button mat-fab disabled><mat-icon>favorite</mat-icon></button>
      </div>
    </mat-card>
    <!-- Mini Flat Buttons -->
    <mat-card class="btn-card">
      <h2>Mini Flat Buttons</h2>
      <div class="btn-row">
        <button mat-mini-fab color="primary">
          <mat-icon>delete</mat-icon>
        </button>
        <button mat-mini-fab color="accent">
          <mat-icon>bookmark</mat-icon>
        </button>
        <button mat-mini-fab color="warn"><mat-icon>home</mat-icon></button>
        <button mat-mini-fab disabled><mat-icon>favorite</mat-icon></button>
      </div>
    </mat-card>

    <!-- Loading Button -->
    <mat-card class="btn-card">
      <h2>Flat Buttons</h2>
      <div class="btn-row">
        <button mat-button>
          Basic
          <mat-icon
            ><mat-spinner diameter="20" color="primary"></mat-spinner
          ></mat-icon>
        </button>
        <button mat-raised-button color="primary">
          Primary
          <mat-icon
            ><mat-spinner diameter="20" color="accent"></mat-spinner
          ></mat-icon>
        </button>
        <button mat-stroked-button color="accent">
          Accent
          <mat-icon
            ><mat-spinner diameter="20" color="primary"></mat-spinner
          ></mat-icon>
        </button>
        <button mat-flat-button color="warn">
          Warn
          <mat-icon
            ><mat-spinner diameter="20" color="accent"></mat-spinner
          ></mat-icon>
        </button>
        <button mat-button disabled>
          Disabled
          <mat-icon
            ><mat-spinner diameter="20" color="warn"></mat-spinner
          ></mat-icon>
        </button>
      </div>
    </mat-card>
  </div>
</div>
