<div class="container">
  <h2>Elevations</h2>
  <mat-divider></mat-divider>

  <div class="content">
    <div class="row">
      <div class="col-2">
        <mat-card class="bg-hover" routerLink="/button">
          <mat-icon>smart_button</mat-icon>
          <p>Buttons</p>
        </mat-card>
      </div>
      <div class="col-2">
        <mat-card class="bg-hover mat-elevation-z2" routerLink="/button-toggle">
          <mat-icon>toggle_on</mat-icon>
          <p>Buttons Toggle</p>
        </mat-card>
      </div>
      <div class="col-2">
        <mat-card class="bg-hover mat-elevation-z3" routerLink="/dynamic-color">
          <mat-icon>palette</mat-icon>
          <p>Dynamic Color</p>
        </mat-card>
      </div>
      <div class="col-2">
        <mat-card routerLink="/elevation" class="bg-hover mat-elevation-z4">
          <mat-icon
            ><span class="material-symbols-outlined"
              >smart_button</span
            ></mat-icon
          >
          <p>Buttons</p>
        </mat-card>
      </div>
      <div class="col-2">
        <mat-card class="bg-hover mat-elevation-z5">
          <mat-icon>smart_button</mat-icon>
          <p>Buttons</p>
        </mat-card>
      </div>
      <div class="col-2">
        <mat-card class="bg-hover mat-elevation-z6">
          <mat-icon>smart_button</mat-icon>
          <p>Buttons</p>
        </mat-card>
      </div>
      <div class="col-2">
        <mat-card class="bg-hover mat-elevation-z24">
          <mat-icon>smart_button</mat-icon>
          <p>Buttons</p>
        </mat-card>
      </div>
      <div class="col-2">
        <button mat-button class="mat-elevation-z24">Button</button>
      </div>
    </div>
  </div>
</div>
