<div class="container">
  <h2>Cards</h2>
  <mat-divider></mat-divider>

  <div class="content">
    <div class="row">
      <!-- Standerd Card Section Start -->
      <div class="col-4 standerd-cards">
        <h2>Standerd Card</h2>
        <!-- Standerd Card One Start -->
        <mat-card class="bg-app mat-elevation-z0">
          <mat-card-title>Standerd Card</mat-card-title>
          <mat-card-subtitle>Subtitle</mat-card-subtitle>
          <mat-divider></mat-divider>
          <mat-card-actions>
            <button mat-button color="accent">Action</button>
            <button mat-button>Cancel</button>
          </mat-card-actions>
        </mat-card>
        <!-- Standerd Card One End -->

        <!-- Standerd Card Two Start -->
        <mat-card class="bg-app mat-elevation-z0">
          <h2 class="mb-2">Standerd Card</h2>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Optio sequi,
          similique possimus totam earum tempora tempore! Ab quia facere officia
          sequi, et soluta, doloremque accusamus delectus accusantium
          voluptatum, mollitia voluptatibus!
        </mat-card>
        <!-- Standerd Card Two End -->

        <!-- Standerd Card Three Start -->
        <mat-card class="bg-app mat-elevation-z0 profile-card">
          <mat-card-header>
            <div
              mat-card-avatar
              class="user-header-image mat-elevation-z15"
            ></div>
            <div class="hcont">
              <h4><small>Post</small>23</h4>
            </div>
            <div class="hcont">
              <h4><small>Followers</small>3.6k</h4>
            </div>
            <div class="hcont">
              <h4><small>Following</small>1.5k</h4>
            </div>
          </mat-card-header>
          <mat-card-content>
            <mat-card-subtitle class="mt-4 mb-1">Pirates</mat-card-subtitle>
            <mat-card-title>Jack Sparrow</mat-card-title>
            <h3 class="mt-3 mb-1">About Me</h3>
            <p>
              Lorem ipsum dolor sit amet consectetur adipisicing elit.
              Exercitationem rem inventore nesciunt perferendis non consequatur
              aspernatur odio ea,
            </p>
          </mat-card-content>
          <mat-divider></mat-divider>
          <mat-card-actions>
            <button mat-button color="accent">Hire me</button>
          </mat-card-actions>
        </mat-card>
        <!-- Standerd Card Three End -->
      </div>
      <!-- Standerd Card Section End -->

      <!-- Task Card Section Start -->
      <div class="col-4 task-cards">
        <h2>Task Card</h2>
        <!-- Task Card One Start -->
        <mat-card class="bg-app mat-elevation-z0 task-cards-one">
          <div class="avater">
            <img
              src="https://i.pinimg.com/474x/59/df/37/59df3760c9b21841947dfe2b71a87e9c.jpg"
              alt="jack"
            />
          </div>
          <mat-card-subtitle class="mb-2">A Pirate</mat-card-subtitle>
          <mat-card-title>Jack World</mat-card-title>
          <mat-divider></mat-divider>
          <mat-card-subtitle class="mt-3">
            Lorem ipsum dolor, sit amet consectetur adipisicing elit. Vitae
            mollitia perferendis laborum velit quas facere.
          </mat-card-subtitle>
          <div class="icon-row">
            <button mat-icon-button color="warn">
              <mat-icon>flag</mat-icon>
            </button>
            <button mat-icon-button>
              <mat-icon>date_range</mat-icon>
            </button>
            <button mat-icon-button>
              <mat-icon>done</mat-icon>
            </button>
            <button mat-icon-button class="ml-auto">
              <mat-icon>attachment</mat-icon> 2
            </button>
            <button mat-icon-button>
              <mat-icon>more_vert</mat-icon>
            </button>
          </div>
        </mat-card>
        <!-- Task Card One End -->

        <!-- Task Card Two Start -->
        <mat-card
          class="bg-app mat-elevation-z0 task-cards-one"
          style="opacity: 0.4"
        >
          <div class="avater">
            <img
              src="https://i.pinimg.com/474x/59/df/37/59df3760c9b21841947dfe2b71a87e9c.jpg"
              alt="jack"
            />
          </div>
          <mat-card-subtitle class="mb-2">A Pirate</mat-card-subtitle>
          <mat-card-title>Jack World</mat-card-title>
          <mat-divider></mat-divider>
          <mat-card-subtitle class="mt-3">
            Lorem ipsum dolor, sit amet consectetur adipisicing elit. Vitae
            mollitia perferendis laborum velit quas facere.
          </mat-card-subtitle>
          <div class="icon-row">
            <button mat-icon-button color="warn">
              <mat-icon>flag</mat-icon>
            </button>
            <button mat-icon-button>
              <mat-icon>date_range</mat-icon>
            </button>
            <button mat-icon-button>
              <mat-icon>done</mat-icon>
            </button>
            <button mat-icon-button class="ml-auto">
              <mat-icon>attachment</mat-icon> 2
            </button>
            <button mat-icon-button>
              <mat-icon>more_vert</mat-icon>
            </button>
          </div>
        </mat-card>
        <!-- Task Card Two End -->

        <!-- Task Card Three Start -->
        <mat-card class="bg-app mat-elevation-z0 task-cards-one">
          <div class="avater">
            <img
              src="https://i.pinimg.com/474x/59/df/37/59df3760c9b21841947dfe2b71a87e9c.jpg"
              alt="jack"
            />
          </div>
          <mat-card-subtitle class="mb-2">A Pirate</mat-card-subtitle>
          <mat-card-title>Jack World</mat-card-title>
          <mat-divider></mat-divider>
          <mat-card-subtitle class="mt-3">
            Lorem ipsum dolor, sit amet consectetur adipisicing elit. Vitae
            mollitia perferendis laborum velit quas facere.
          </mat-card-subtitle>
          <div class="icon-row">
            <button mat-icon-button color="warn">
              <mat-icon>flag</mat-icon>
            </button>
            <button mat-icon-button>
              <mat-icon>date_range</mat-icon>
            </button>
            <button mat-icon-button>
              <mat-icon>done</mat-icon>
            </button>
            <button mat-icon-button class="ml-auto">
              <mat-icon>attachment</mat-icon> 2
            </button>
            <button mat-icon-button>
              <mat-icon>more_vert</mat-icon>
            </button>
          </div>
        </mat-card>
        <!-- Task Card Three End -->
      </div>
      <!-- Task Card Section End -->

      <!-- Image Card Section Start -->
      <div class="col-4 picture-cards">
        <h2>Picture Card</h2>
        <!-- Image Card One Start -->
        <mat-card class="example-card bg-app mat-elevation-z0">
          <mat-card-header>
            <div mat-card-avatar class="example-header-image"></div>
            <mat-card-title>Black pearl</mat-card-title>
            <mat-card-subtitle>Pirates</mat-card-subtitle>
          </mat-card-header>
          <img
            mat-card-image
            src="https://i.pinimg.com/originals/84/42/89/844289b1f59122ddc699f85cdcca5f3e.jpg"
            alt="Photo of a Shiba Inu"
          />
          <mat-card-title>Galleon Black pearl</mat-card-title>
          <mat-card-content>
            <p>
              The Shiba Inu is the smallest of the six original and distinct
              spitz breeds of dog from Japan. A small, agile dog that copes very
              well with mountainous terrain, the Shiba Inu was originally bred
              for hunting.
            </p>
          </mat-card-content>
          <mat-card-actions>
            <button mat-button>LIKE</button>
            <button mat-button>SHARE</button>
          </mat-card-actions>
        </mat-card>
        <!-- Image Card One End -->

        <!-- Image Card Two Start -->
        <mat-card class="example-card bg-app mat-elevation-z0">
          <img
            mat-card-image
            src="https://thumbs.dreamstime.com/b/environment-earth-day-hands-trees-growing-seedlings-bokeh-green-background-female-hand-holding-tree-nature-field-gra-130247647.jpg"
            alt="Photo of a Shiba Inu"
          />

          <mat-card-subtitle class="mb-2">Pirates</mat-card-subtitle>
          <mat-card-title>Galleon Black pearl</mat-card-title>
          <div class="rating">
            <mat-icon class="active">star</mat-icon
            ><mat-icon class="active">star</mat-icon
            ><mat-icon class="active">star</mat-icon><mat-icon>star</mat-icon
            ><mat-icon>star</mat-icon>
          </div>
          <mat-divider class="mt-2"></mat-divider>
          <mat-card-content class="mt-4">
            <p>
              The Shiba Inu is the smallest of the six original and distinct
              spitz breeds of dog from Japan.
            </p>
          </mat-card-content>
          <mat-divider></mat-divider>
          <mat-card-actions>
            <button mat-button color="accent">LIKE</button>
            <button mat-button>SHARE</button>
          </mat-card-actions>
        </mat-card>
        <!-- Image Card Two End -->
      </div>
      <!-- Image Card Section End -->
    </div>
  </div>
</div>
